@media screen and (max-width: 600px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    transition: 450ms ease-in;
    z-index: var(--z-index-1);
    padding: 2rem;
  }

  .sidebar.active {
    left: 0%;
    transition: 450ms ease-out;
  }

  .routes {
    padding: 0.5rem;
  }

  .menu-side {
    background-color: red;
  }
}
