* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #cf0;
  --error-color: red;
  --card-color: rgb(218, 218, 218);
  --gray-500: #6b7280;
  --gray-800: #1f2937;
  --footer-color: #121212;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --font-weight-550: 550;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.btn__link {
  text-decoration: none;
  color: white;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.2rem 0.1rem 0.2rem 0.1rem;
  border: 1px solid var(--card-color);
  max-width: 20%;
}

.card-title {
  padding: 0.2rem 1.5rem;
}

.card-actions > section {
  color: var(--gray-50);
  background-color: var(--gray-600);
  padding: 0.5rem 1rem;
  margin: 0.6rem 1rem 0.5rem 1.5rem;
  border: 1px solid var(--gray-600);
  cursor: pointer;
  border-radius: 0.3rem;

  max-width: 100%;
}

.card-footer {
  margin-left: 1.5rem;
  font-size: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.offer {
  font-size: 0.6rem;
  font-weight: 800;
  color: var(--gray);
}

.modal {
  position: sticky;
  z-index: var(--z-index-2);
  width: 100%;
}
.loader {
  max-width: 50%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.4rem solid var(--gray-50);
  border-radius: 50%;
  border-top: 0.4rem solid var(--primary-color);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.error {
  color: var(--error-color);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.snackbar {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: var(--z-index-3);
  transform: translateY(-50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }
  .card-body {
    padding: 0.4rem;
  }
  .card-img {
    max-width: 80%;
  }
  .card-title,
  .card-text {
    font-size: 0.8rem;
    margin: 0rem;
    padding: 0;
  }
  .card-actions > section {
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
  }

  .navbar {
    position: unset;
  }
}
